<!DOCTYPE html>
<html lang="en">

<head>

      <title>Utsavdcs</title>
      <link rel="icon" href="page3/utsavdcs.png" type="image/x-icon">
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="/javascripts/jquery.min.js"></script>  
     <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
              <a class="navbar-brand" href="/">UTSAVDCS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  
              </ul>
          </div>
      </div>
  </nav>
<%if(emailbox.length > 0){%>
  <div class="container">
    <h2>Please Enter Your Email</h2>
    <form action="/forget" method="POST">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>      
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
<%}%>

<%if(codebox.length > 0){%>
    <div class="container">
      <h2>Please Enter Your 6-digit code, which we have sent you on your given email.</h2>
      <form action="/forget/codecheck" method="POST">
        <div class="form-group">
            <input type="hidden" name="email" value="<%=email%>">
            <p><%=email%></p>
          <label for="code">Code:</label>
          <input type="password" class="form-control" id="code" placeholder="Enter code" name="code">
        </div>      
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  <%}%>

  <%if(passbox.length > 0){%>
    <div class="container">
        <form action="/forget/resetpass" method="POST">
          <input type="hidden" name="email" value="<%=email%>">
          <div class="form-group">
            <label for="pwd">Enter New Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
          </div>         
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
  <%}%>

     

  </body>
</html>
