<%- include('../header.ejs'); %>


  <div class="container">
    <h1 style="text-align:center; border:4px solid black; padding:8px;"><b>OUR SERVICES</b></h1>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="padding:70px; text-align:center;">
          <h1 style="font-size:70px"><span class="glyphicon glyphicon-shopping-cart"></span></h1>
          <h2><b>E-COMMERCE</b></h2>
          <p style="background-color:white">E-commerce website is the new way of business. where you can sell your online products.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style=" padding:70px; text-align:center;">
          <h1 style="font-size:70px"><span class="glyphicon glyphicon-phone"></span></h1>
          <h2><b>RESPONSIVE WEBSITES</b></h2>
          <p style="background-color:white">Now days smartphone are increased dranstically so many people are using Internet on Smartphone so your website should be responsive.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style=" padding:70px; text-align:center;">
          <h1 style="font-size:70px"><span class="glyphicon glyphicon-user"></span></h1>
          <h2><b>USER FRIENDLY</b></h2>
          <p style="background-color:white">Features of website must be understandable. And they must be easy to use.</p>
        </div>
      </div>
    </div>
        <br><br><br><br><br>
        <br><br><br><br><br>

      <%- include('../footer.ejs'); %>
